.vscode/
.idea/
**/*.csv
**/*.h5
CNN/
RNN/.ipynb_checkpoints/
RNN/data/
chapter_7/.ipynb_checkpoints/
chapter_8/.ipynb_checkpoints/
chapter_9/.ipynb_checkpoints/
machineLearning/.ipynb_checkpoints/
machineLearning/images/
recommend/
tensorflow/
z_hack/model/.ipynb_checkpoints/
z_hack/model/model_py/mjl/.ipynb_checkpoints/
z_hack/model/model_py/mjl/__pycache__/
z_hack/model/model_py/mjl/log1/
z_hack/model/model_py/mjl/log2/
z_hack/model/model_py/mjl/log3/
z_hack/model/model_py/mjl/logs/
z_hack/model/model_py/wangheng/.ipynb_checkpoints/
z_hack/model/model_py/wangheng/logs/
